<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
   <%- include('../includes/navigation.ejs') %>

    <main>
        <% if (!isAuthenticated) { %>
            <label for="authentication">Please first Sign up!</label>
            <form class="product-form" action="/singup">
                <div class="form-control">
                    <button class="btn" type="submit">Sign up</button>
                </div>
            </form>
            <form class="product-form" action="/login">
                <div class="form-control">
                    <button class="btn" type="submit">Login</button>
                </div>
            </form>
            
        <% } else { %>
            <form class="product-form" action="/admin/<% if (editing) { %>edit-product<% } else { %>add-product<% } %>" method="POST">
                <div class="form-control">
                    <label for="title">Name</label>
                    <input type="text" name="name" id="name" value="<% if (editing) { %><%= product.name %><% } %>">
                </div>
                <div class="form-control">
                    <label for="imageUrl">Blood Group</label>
                    <input type="text" name="blood_group" id="blood_group" value="<% if (editing) { %><%= product.blood_group %><% } %>">
                </div>
                <div class="form-control">
                    <label for="price">Contact</label>
                    <input type="text" name="contact" id="contact"  value="<% if (editing) { %><%= product.contact %><% } %>">
                </div>
                <div class="form-control">
                    <label for="description">Address</label>
                    <textarea name="address" id="address" rows="5"><% if (editing) { %><%= product.address %><% } %></textarea>
                </div>
                <div class="form-control">
                    <label for="description">Reason</label>
                    <textarea name="reason" id="reason" rows="5"><% if (editing) { %><%= product.reason %><% } %></textarea>
                </div>
    
                <% if (editing) { %>
                    <input type="hidden" value="<%= product._id %>" name="productId">
                <% } %>
    
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <button class="btn" type="submit"><% if (editing) { %>Update Product<% } else { %>Add Listing<% } %></button>
            </form>
        <% } %>
        
    </main>
<%- include('../includes/end.ejs') %>